<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derifas Home - Bienvenidos</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>
    <header>
        <!--Logo-->
        <img src="img/banner.jpg" width="100%" height="250px">
        <!--Barra de Navegación-->
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Registrarse</a></li>
                <li><a href="#">Ingresar</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Nuestra app</a></li>
            </ul>
        </nav>
        <!--Barra de Búsqueda-->
        <!--Enlaces a redes sociales-->
    </header>
    <main>
        <h1>De rifas bienvenidos</h1>
        <section>
            <header>
                <h2>Novedades</h2>
            </header>
            <acticle>
                <img src="" alt="producto">
                <p>$$$.$$</p>
                <p>$.$</p>
                <p>20 cupones disp.></p>
                <p>tags especiales</p>
                <p>fecha y hora limite</p>
                <p>Titulo del producto</p>
            </acticle>
            <acticle>
                <img src="" alt="producto">
                <p>$$$.$$</p>
                <p>$.$</p>
                <p>20 cupones disp.></p>
                <p>tags especiales</p>
                <p>fecha y hora limite</p>
                <p>Titulo del producto</p>
            </acticle>
            <acticle>
                <img src="" alt="producto">
                <p>$$$.$$</p>
                <p>$.$</p>
                <p>20 cupones disp.></p>
                <p>tags especiales</p>
                <p>fecha y hora limite</p>
                <p>Titulo del producto</p>
            </acticle>
            <acticle>
                <img src="" alt="producto">
                <p>$$$.$$</p>
                <p>$.$</p>
                <p>20 cupones disp.></p>
                <p>tags especiales</p>
                <p>fecha y hora limite</p>
                <p>Titulo del producto</p>
            </acticle>
        </section>
        <section>
            <header>
                <h2>Últimas oportunidades</h2>
            </header>
        </section>
        <section>
            <!--Categorias de productos-->
            <h2>Categorías</h2>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>