* {
    /*background-color: rgb(175, 225, 175);*/
    /*verde esmeralda*/
    /*background-color: #50C878;*/
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-size: 12px;
    jajaaja
}

main {
    background-color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    width: 25%;
    padding: 10px;
}

.producto-wrapper {
    border: 1px solid #ebebeb
}

.producto-content {
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 10px;
}

.texto-precio {
    font-size: 18px;
}