* {
    /*background-color: rgb(175, 225, 175);*/
    /*verde esmeralda*/
    /*background-color: #50C878;*/
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-size: 12px;
    jajaaja
}

main {
    background-color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.producto {
    width: 25%;
    padding: 10px;
}

.producto-wrapper {
    border: 1px solid #ebebeb
}

.producto-content {
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 10px;
}

.precio-producto {
    font-size: 18px;
    color: green;
}

.precio-cupon {
    font-size: 18px;
    color: green;
}

.tags-ultimos-cupones {
    border: 1px solid #ebebeb;
    padding: 10px;
    background-color: #FCF3CF;
    border-radius: 25px;
}

.tags-sale-sale {
    border: 1px solid #ebebeb;
    padding: 10px;
    background-color: #1ABC9C;
    border-radius: 25px;
}

.tags-sortea-hoy {
    border: 1px solid #ebebeb;
    padding: 10px;
    background-color: #F1948A;
    border-radius: 25px;
}

.titulo-producto {
    text-align: center;
    font-size: 1.5rem;
}