<!DOCTYPE html>
<html lang="en">
<!--Incluye el Head-->
<%- include('./partials/head', {title: 'Crear Publicación'})%>

    <body>
        <header>
            <!--Logo y banner-->
            <%- include('./partials/banner') %>

                <!--Barra de Navegación-->
                <%- include('./partials/nav-bar')%>

                    <!--Barra de Búsqueda-->
                    <!--Enlaces a redes sociales-->
        </header>
        <main>
            <center><img src="/img/404-error.png" width="50%" /></center>
        </main>
        <footer>
            <!-- footer-->
            <%- include('./partials/footer') %>
        </footer>
    </body>

</html>