<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Publicación</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>
    <header>
        <!--Logo y banner-->
        <%- include('./partials/banner') %>

            <!--Barra de Navegación-->
            <%- include('./partials/nav-bar')%>


                <!--Barra de Búsqueda-->
                <!--Enlaces a redes sociales-->
    </header>
    <main>
        <div class="form">
            <div class="login-form">
                <form method="POST" action="/publicar">
                    <label for="titulo">Título</label>
                    <input type="text" name="titulo" id="titulo">
                    </br>
                    <label for="precio">Precio de venta</label>
                    <input type="text" name="precio" id="precio">
                    </br>
                    <label for="fechaHoraLimite">Fecha y Hora Límite</label>
                    <input type="date" name="fechaHoraLimite" id="fechaHoraLimite">
                    </br>
                    <label for="totalCupones">Total de Cupones</label>
                    <input type="number" name="totalCupones" id="totalCupones">
                    </br>
                    <label for="descripcion">Descripción</label>
                    <textarea name="descripcion" id="descripcion"></textarea>
                    </br>
                    <label for="imagenProducto">Imagen</label>
                    <input type="file" name="imagenProducto" id="imagenProducto">
                    </br>
                    <button type="submit">Publicar</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <!-- footer-->
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>