<head>
    <link rel="stylesheet" href="/css/cuponera.css" />
</head>

<body>
    <div class="contenedorCuponera" width="50px">
        <% for(let cupon of cuponera.usuariosIdCompraCupones){ %>
            <% if(cupon.usuarioId == 0) {%>
                <div class="cuponDisponible">
                    <% }else{%>
                        <div class="cuponVendido">
                            <%}%>
                                <div>
                                    Cupón:
                                    <%= cupon.cuponId %>
                                </div>
                                <div>
                                    Precio: $
                                    <%= cupon.precioCupon %>
                                </div>
                                <div>
                                    <% if(cupon.usuarioId == 0) {%>
                                        Disponible
                                        <% }else{%>
                                            Vendido
                                            <%}%>
                                </div>
                        </div>
                        <%}%>
                </div>
</body>