<body>
    <div class="flex">
        <% for(let cupon of cuponera.usuariosIdCompraCupones){ %>
            <div class="cupon">
                <%= cupon.cuponId %>
            </div>
            <%}%>
    </div>
</body>