<head>
    <link rel="stylesheet" href="/css/cuponera.css" />
</head>

<body>
    <div class="contenedorCuponera" width="50px">
        <% for(let cupon of cuponera){ %>
            <% if(cupon.vendido == 0) {%>
                <div class="cuponDisponible">
                    <% }else{%>
                        <div class="cuponVendido">
                            <%}%>
                                <div>
                                    Cupón:
                                    <%= cupon.numero_cupon %>
                                </div>
                                <div>
                                    Precio: $
                                    <%= cupon.precio_cupon %>
                                </div>
                                <div>
                                    <% if(cupon.vendido == 0) {%>
                                        Disponible
                                        <% }else{%>
                                            Vendido
                                            <%}%>
                                </div>
                        </div>
                        <%}%>
                </div>
</body>