<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %> - Derifas.com</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/estilo.css" />
    <link rel="stylesheet" href="/css/estilo-sm.css" media="(min-width:480px)" />
    <link rel="stylesheet" href="/css/estilo-md.css" media="(min-width:768px)" />
    <link rel="stylesheet" href="/css/estilo-lg.css" media="(min-width:1280px)" />
</head>