<!--Barra de navegación-->
<nav id="barra-navegacion">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/usuarios/registro">Registrarse</a></li>
        <li><a href="/usuarios/login">Ingresar</a></li>
        <li><a href="/producto/publicar">Publicar</a></li>
        <li><a href="/quienes-somos">Quienes Somos</a></li>
        <li><a href="/nuestro-blog">Nuestro Blog</a></li>
    </ul>
</nav>