<section>
    <header>
        <h2>Novedades</h2>
    </header>
    <div class=flex>
        <acticle class="producto">
            <div class="producto-wrapper">
                <img src="/img/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera Moulinex">
                <div class="producto-content">
                    <div class=flex>
                        <p class="precio-producto">precio producto $$$</p>
                        <p class="precio-cupon">precio cupon $</p>
                    </div>
                    <div class=flex>
                        <p class=tags-ultimos-cupones>últimos cupones</p>
                        <p class=tags-sale-sale>sale o sale</p>
                    </div>
                    <div class=flex>
                        <p>20 cupones disp.</p>
                        <p>fecha y hora limite</p>
                        <p>dd/mm/yyyy</p>
                    </div>
                    <p class="titulo-producto">Titulo del producto</p>
                </div>
            </div>
        </acticle>
        <acticle class="producto">
            <div class="producto-wrapper">
                <img src="/img/img-macbook-pro-2019.jpg" width="100%" alt="Laptop MBP 2019">

                <div class="producto-content">
                    <div class=flex>
                        <p class="precio-producto">precio producto $$$</p>
                        <p class="precio-cupon">precio cupon $</p>
                    </div>
                    <div class=flex>
                        <p class=tags-ultimos-cupones>últimos cupones</p>
                        <p class=tags-sale-sale>sale o sale</p>
                        <p class=tags-sortea-hoy>sortea hoy</p>
                    </div>
                    <div class=flex>
                        <p>20 cupones disp.</p>
                        <p>fecha y hora limite</p>
                        <p>dd/mm/yyyy</p>
                    </div>
                    <p class="titulo-producto">Titulo del producto</p>
                </div>

            </div>
        </acticle>
        <acticle class="producto">
            <div class="producto-wrapper">
                <img src="/img/img-samsung-galaxy-s10.jpg" width="100%" alt="Samsung Galaxy S10">
                <div class="producto-content">
                    <div class=flex>
                        <p class="precio-producto">precio producto $$$</p>
                        <p class="precio-cupon">precio cupon $</p>
                    </div>
                    <div class=flex>
                        <p class=tags-sortea-hoy>sortea hoy</p>
                    </div>
                    <div class=flex>
                        <p>20 cupones disp.</p>
                        <p>fecha y hora limite</p>
                        <p>dd/mm/yyyy</p>
                    </div>
                    <p class="titulo-producto">Titulo del producto</p>
                </div>
            </div>
        </acticle>
        <acticle class="producto">
            <div class="producto-wrapper">
                <img src="/img/img-tv-samsung-smart.jpg" width="100%" alt="TV Samsung Smart">
                <div class="producto-content">
                    <div class=flex>
                        <p class="precio-producto">precio producto $$$</p>
                        <p class="precio-cupon">precio cupon $</p>
                    </div>
                    <div class=flex>
                        <p class=tags-ultimos-cupones>últimos cupones</p>
                        <p class=tags-sale-sale>sale o sale</p>
                    </div>
                    <div class=flex>
                        <p>20 cupones disp.</p>
                        <p>fecha y hora limite</p>
                        <p>dd/mm/yyyy</p>
                    </div>
                    <p class="titulo-producto">Titulo del producto</p>
                </div>
            </div>
        </acticle>
    </div>
</section>