<div class="buscar-producto">
    <!-- http://localhost:3000/producto/buscar?titulo=Doctor%20Strange&foo=blabla&bar=blablabla -->
    <form action="/producto/buscar" method="GET">
        <input type="text" name="nombreProducto" id="nombreProducto" />
        <button class="boton-buscar" type="submit">Buscar</button>
    </form>
</div>